<ion-button
  (click)="presentPopover($event)"
  fill="clear"
  shape="round"
  size="medium"
>
  <span class="fi fi-{{ langSelected }}"></span>
</ion-button>
<ion-popover
  #popover
  [isOpen]="isOpen"
  (didDismiss)="isOpen = false"
  [dismissOnSelect]="true"
  size="auto"
>
  <ng-template>
    <ion-content>
      <ion-list
        lines="none"
        class="ion-no-padding"
        *ngFor="let lang of langDict | keyvalue"
      >
        <ion-item
          [button]="true"
          [detail]="false"
          (click)="langPicker(lang.key)"
        >
          <ion-icon class="fi fi-{{ lang.key }}"></ion-icon>&nbsp;
          {{ lang.value | translate }}
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
