<ion-item>
  <ion-label position="floating">{{ label }}</ion-label>
  <input
    type="text"
    [(ngModel)]="selectedOption"
    (input)="onInputChange()"
    (focus)="showDatalist = true"
  />
</ion-item>

<!-- Datalist personnalisé en tant que conteneur -->
<div *ngIf="showDatalist" class="custom-datalist">
  <ul>
    <li *ngFor="let option of filteredOptions" (click)="selectOption(option)">
      {{ option }}
    </li>
    <li
      *ngIf="!filteredOptions.includes(selectedOption)"
      (click)="addNewOption()"
    >
      Ajouter "{{ selectedOption }}"
    </li>
  </ul>
</div>
