<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button
      slot="start"
      type="button"
      color="dark"
      fill="clear"
      (click)="close()"
    >
      <ion-icon size="large" name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">
      {{ item.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-margin">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-wrap">
              {{ "PRODUCT.STOCKQUANTITY" | translate }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <h1>{{ stockQuantity }}</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{ "PRODUCT.SOLDQUANTITY" | translate }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <h1></h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{ "PRODUCT.EVOLUTION" | translate }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-select
              interface="popover"
              label-placement="floating"
              fill="outline"
              [(ngModel)]="selectedValue"
              (ionChange)="displayChartChange($event)"
            >
              <ion-select-option value="price">
                {{ "PRODUCT.PRICE" | translate }}
              </ion-select-option>
              <ion-select-option value="soldQuantity">
                {{ "PRODUCT.QUANTITY" | translate }}
                {{ "PRODUCT.SOLDQUANTITY" | translate }}
              </ion-select-option>
            </ion-select>
            <ion-card>
              <canvas id="productChart"></canvas>
            </ion-card>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
