<ion-card
  class="dynamic-card"
  id="{{ cardId }}"
  appLongpress
  (press)="onLongPress()"
  (click)="onPress()"
  [ngClass]="
    selectedCard ? 'animate__animated animate__pulse animate__infinite' : 'card'
  "
  [ngStyle]="{ 'background-image': 'url(' + productImage + ')' }"
>
  <ion-card-header>
    <ion-card-title class="ion-text-wrap card-title">
      {{ item.name }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content> </ion-card-content>
  <ion-card-subtitle class="card-subtitle">Ar {{ price }}</ion-card-subtitle>
</ion-card>
