canvas {
  width: 100% !important;
  height: 300px !important;
}

ion-content {
  --padding-top: 56px; /* Ajustez selon la hauteur de votre header */
}

/* Style général des cartes */
ion-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  align-content: center;
}

ion-card-header {
  padding-top: 0%;
  margin-top: 0%;
}
ion-card-title {
  align-content: center;
  white-space: nowrap;
  color: #2e2d2d; /* Couleur grise pour rendre le titre moins visible */
}

ion-card-content h1 {
  white-space: nowrap; /* Pas de retour à la ligne */
  overflow: hidden; /* Cache le texte qui dépasse */
  text-overflow: ellipsis; /* Ajoute "..." si le texte est trop long */
  max-width: 100%; /* Le texte reste dans la largeur du conteneur */
  font-size: calc(30px + 1vw); /* Ajustement dynamique de la taille du texte */
  color: #3b5998;
  font-weight: bold;
}

/* Effet de survol (hover) */
ion-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.container-stock-value {
  background: #5045E6;
  color: #fff;
  display: flex;
  flex-direction: column;

  .stock-value {
    h1, p {
    margin: 0;
    }
    h1 {
      font-size: 20pt;
      font-weight: bold;
    }
  }
  
  .stock-detail {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    p {
      background: #ffffff28;
      padding: 5px;
      margin: 5px 0 0 0;
      width: 100%;
      border-radius: 7px;
      text-align: center;
    }
  }
}

ion-accordion {
  margin: 0 auto;
  padding: 0px;
  background: transparent;
}

ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
  width: calc(100% - 32px);
  margin: 16px auto;
}

ion-accordion.accordion-collapsing ion-item[slot="header"],
ion-accordion.accordion-collapsed ion-item[slot="header"] {
  --background: var(--ion-color-light);
  --color: var(--ion-color-light-contrast);
}

ion-accordion.accordion-expanding ion-item[slot="header"],
ion-accordion.accordion-expanded ion-item[slot="header"] {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}