<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-margin">
    <!-- Carte pour le total des produits -->
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{'PRODUCT.PRODUCTS'| translate}}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <h1>{{ productsNumber }}</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{'PRODUCT.MEANPROFITMARGIN'| translate}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <h1>{{ meanProfitMargin }} %</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{'PRODUCT.STOCKVALUE'| translate}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <h1>{{stockValue | currency : "Ar " : "symbol" : "1.0-0"}}</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Carte pour l'évolution des prix -->
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Évolution des Prix</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <canvas id="priceChart"></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Carte pour l'évolution des stocks -->
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Évolution des Stocks</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <canvas id="stockChart"></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
