<div class="loading" *ngIf="!products">
  <ion-spinner class="app-spinner"></ion-spinner>
</div>

<ion-list *ngIf="products">
  <ion-item *ngFor="let product of products" class="listproduct">
    <ion-label>{{ product.id }}</ion-label>
    <ion-label>{{ product.name }}</ion-label>
    <button
      ion-button
      clear
      icon-only
      item-right
      (click)="editProduct(product)"
      color="dark"
    >
      <ion-icon name="create"></ion-icon>
    </button>
    <button
      ion-button
      clear
      icon-only
      item-right
      (click)="deleteProduct(product)"
      color="dark"
    >
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-item>
  <ion-item *ngIf="products.length === 0">No products yet, insert one</ion-item>
</ion-list>
