.floating {
    z-index: 999 !important;
    position: fixed;
    background-color: aqua;
    padding: 0;
    top: 75%;
    left: 50%;
    width: 25%;
    height: 25%;
    transform: translate(-50%, -50%);
    justify-content: center;
}