<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button
      slot="start"
      type="button"
      color="dark"
      fill="clear"
      (click)="close()"
    >
      <ion-icon size="large" name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
    <ng-container *ngIf="isAdd; else edit0">
      <ion-title class="ion-text-center">
        {{ "GLOBAL.ADD" | translate }}
      </ion-title>
    </ng-container>
    <ng-template #edit0>
      <ion-title class="ion-text-center">
        {{ "GLOBAL.EDIT" | translate }}
      </ion-title>
    </ng-template>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="productForm" (ngSubmit)="save()">
    <div *ngIf="false">
      <ion-input type="text" formControlName="idProduct"></ion-input>
      <ion-input type="text" formControlName="idPrice"></ion-input>
      <ion-input type="text" formControlName="idQuantity"></ion-input>
    </div>
    <ion-accordion-group value="first">
      <ion-accordion value="first">
        <ion-item slot="header">
          <ng-container *ngIf="isAdd; else edit1">
            <ion-thumbnail>
              <img
                id="productImageElt"
                src="../../../assets/images/products.png"
              />
            </ion-thumbnail>
            <ion-title class="ion-text-center">
              {{ "PRODUCT.PRODUCTS" | translate }}
            </ion-title>
          </ng-container>
          <ng-template #edit1>
            <ion-thumbnail>
              <img id="productImageElt" />
            </ion-thumbnail>
            <ion-title class="ion-text-center">{{ item.name }}</ion-title>
          </ng-template>
        </ion-item>
        <div slot="content">
          <ion-grid>
            <!-- photo -->
            <ion-row>
              <ion-item>
                <ion-col class="ion-text-center">
                  <app-photo (newPhoto)="changePhoto($event)"></app-photo>
                </ion-col>
              </ion-item>
            </ion-row>
            <!-- category -->
            <ion-row>
              <ion-item lines="none" class="ion-no-padding">
                <ion-col>
                  <ion-label
                    >{{ "PRODUCT.CATEGORY" | translate }} * :
                  </ion-label>
                </ion-col>
                <ion-col>
                  <input
                    id="category"
                    list="categoryList"
                    fill="outline"
                    formControlName="category"
                  />
                  <datalist id="categoryList">
                    <select id="select1">
                      <option
                        *ngFor="let category of productCategory"
                        [value]="category"
                      >
                        {{ category }}
                      </option>
                    </select>
                  </datalist>
                </ion-col>
              </ion-item>
            </ion-row>
            <!-- name -->
            <ion-row>
              <ion-item class="ion-no-padding">
                <ion-col>
                  <ion-label> {{ "PRODUCT.NAME" | translate }} * :</ion-label>
                </ion-col>
                <ion-col>
                  <ion-input
                    type="text"
                    fill="outline"
                    formControlName="name"
                    labelPlacement="stacked"
                  >
                  </ion-input>
                </ion-col>
              </ion-item>
            </ion-row>
            <!-- conditionningType -->
            <ion-row>
              <ion-item lines="none" class="ion-no-padding">
                <ion-col>
                  <ion-label>
                    {{ "PRODUCT.CONDITIONNINGTYPE" | translate }} * :
                  </ion-label>
                </ion-col>
                <ion-col>
                  <input
                    id="conditionningType"
                    list="conditionningList"
                    fill="outline"
                    formControlName="conditionningType"
                  />
                  <datalist id="conditionningList">
                    <select id="select2">
                      <option
                        *ngFor="
                          let conditionningType of productConditionningType
                        "
                        [value]="conditionningType"
                      >
                        {{ conditionningType }}
                      </option>
                    </select>
                  </datalist>
                </ion-col>
              </ion-item>
            </ion-row>
            <!-- description -->
            <ion-row>
              <ion-item class="ion-no-padding">
                <ion-col>
                  <ion-textarea
                    [autoGrow]="true"
                    fill="outline"
                    formControlName="description"
                    label="{{ 'PRODUCT.DESCRIPTION' | translate }}"
                    labelPlacement="stacked"
                  >
                  </ion-textarea>
                </ion-col>
              </ion-item>
            </ion-row>
          </ion-grid>
        </div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header">
          <ion-thumbnail>
            <img src="../../../assets/images/money.png" />
          </ion-thumbnail>
          <ion-title class="ion-text-center">
            {{ "PRODUCT.PRICE" | translate }} {{ uniteMonetaire }}
          </ion-title>
        </ion-item>
        <div slot="content">
          <ion-grid>
            <!-- buying price -->
            <ion-row>
              <ion-item class="ion-no-padding">
                <ion-col size="7">
                  <ion-input
                    #buyingPrice
                    type="number"
                    fill="outline"
                    label="{{ 'PRODUCT.BUYINGPRICE' | translate }} * "
                    labelPlacement="stacked"
                    formControlName="buyingPrice"
                    (ionInput)="calculateProfitMargin($event)"
                  >
                    <ion-button
                      id="buyingPrice"
                      fill="clear"
                      slot="end"
                      (click)="calculateField($event, 'buyingPrice')"
                    >
                      <ion-icon
                        slot="icon-only"
                        name="calculator"
                        aria-hidden="true"
                      ></ion-icon>
                    </ion-button>
                    <ion-popover trigger="buyingPrice" triggerAction="click">
                      <ng-template>
                        <ion-content>
                          <app-calculator
                            (calculatorResult)="
                              calculateField($event, 'buyingPrice')
                            "
                          >
                          </app-calculator>
                        </ion-content>
                      </ng-template>
                    </ion-popover>
                  </ion-input>
                </ion-col>
                <ion-col size="5"> </ion-col>
              </ion-item>
            </ion-row>
            <!-- sellingPrice -->
            <ion-row>
              <ion-item class="ion-no-padding">
                <ion-col size="7">
                  <ion-input
                    #sellingPrice
                    type="number"
                    fill="outline"
                    label="{{ 'PRODUCT.SELLINGPRICE' | translate }} * "
                    labelPlacement="stacked"
                    formControlName="sellingPrice"
                    (ionInput)="calculateProfitMargin($event)"
                  >
                    <ion-button id="sellingPrice" fill="clear" slot="end">
                      <ion-icon
                        slot="icon-only"
                        name="calculator"
                        aria-hidden="true"
                      ></ion-icon>
                    </ion-button>
                    <ion-popover trigger="sellingPrice" triggerAction="click">
                      <ng-template>
                        <ion-content class="ion-padding">
                          <app-calculator
                            (calculatorResult)="
                              calculateField($event, 'sellingPrice')
                            "
                          ></app-calculator>
                        </ion-content>
                      </ng-template>
                    </ion-popover>
                  </ion-input>
                </ion-col>
                <ion-col size="5"> </ion-col>
              </ion-item>
            </ion-row>
            <!-- profitMargin -->
            <ion-row>
              <ion-item class="ion-no-padding">
                <ion-col size="5"> </ion-col>
                <ion-col size="7">
                  <ion-input
                    type="number"
                    fill="outline"
                    formControlName="profitMargin"
                    label="{{ 'PRODUCT.PROFITMARGIN' | translate }}"
                    labelPlacement="stacked"
                  >
                  </ion-input>
                </ion-col>
              </ion-item>
            </ion-row>
          </ion-grid>
        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header">
          <ion-thumbnail>
            <img src="../../../assets/images/stock.png" />
          </ion-thumbnail>
          <ng-container *ngIf="isAdd; else edit2">
            <ion-title class="ion-text-center">
              {{ "PRODUCT.QUANTITY" | translate }}
            </ion-title>
          </ng-container>
          <ng-template #edit2>
            <ion-title class="ion-text-center">
              {{ "PRODUCT.QUANTITY" | translate }}
              {{ "[" + item.conditionningType + "]" }}
            </ion-title>
          </ng-template>
        </ion-item>
        <div slot="content">
          <ion-grid>
            <!-- supplyQuantity -->
            <ion-row>
              <ion-item class="ion-no-padding">
                <ion-col size="7">
                  <ion-input
                    type="number"
                    fill="outline"
                    label="{{ 'PRODUCT.SUPPLYQUANTITY' | translate }} * "
                    labelPlacement="stacked"
                    formControlName="supplyQuantity"
                    (ionInput)="calculateStockQuantity($event)"
                  >
                  </ion-input>
                </ion-col>
                <ion-col size="5"> </ion-col>
              </ion-item>
            </ion-row>
            <!-- soldQuantity -->
            <ion-row>
              <ion-item class="ion-no-padding">
                <ion-col size="7">
                  <ion-input
                    type="number"
                    fill="outline"
                    label="{{ 'PRODUCT.SOLDQUANTITY' | translate }} * "
                    labelPlacement="stacked"
                    formControlName="soldQuantity"
                    (ionInput)="calculateStockQuantity($event)"
                  >
                  </ion-input>
                </ion-col>
                <ion-col size="5"> </ion-col>
              </ion-item>
            </ion-row>
            <!-- stockQuantity -->
            <ion-row>
              <ion-item class="ion-no-padding">
                <ion-col size="5"> </ion-col>
                <ion-col size="7">
                  <ion-input
                    type="number"
                    fill="outline"
                    label="{{ 'PRODUCT.STOCKQUANTITY' | translate }}"
                    labelPlacement="stacked"
                    formControlName="stockQuantity"
                    (ionFocus)="calculateStockQuantity($event)"
                  >
                  </ion-input>
                </ion-col>
              </ion-item>
            </ion-row>
          </ion-grid>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button
            id="open-loading"
            type="submit"
            [disabled]="!productForm.valid"
            color="primary"
          >
            {{ "GLOBAL.SAVE" | translate }}
          </ion-button>
          <ion-loading
            trigger="open-loading"
            message="Loading..."
            [duration]="3000"
            spinner="circles"
          ></ion-loading>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-button
      size="large"
      slot="end"
      type="button"
      fill="clear"
      color="dark"
      (click)="delete(item)"
      *ngIf="!isAdd"
    >
      <ion-icon name="trash-bin"> </ion-icon>
    </ion-button>
    <ion-button
      size="large"
      slot="start"
      type="button"
      fill="clear"
      color="dark"
      (click)="showProductStats(item)"
      *ngIf="!isAdd"
    >
      <ion-icon name="bar-chart-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
