<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button slot="start" type="button" fill="clear" (click)="close()">
      <ion-icon name="close" slot="icon-only" color="dark"></ion-icon>
    </ion-button>
    <ng-container *ngIf="isAdd; else edit">
      <ion-title class="ion-text-center">Add</ion-title>
    </ng-container>
    <ng-template #edit>
      <ion-title class="ion-text-center">{{ item.name }}</ion-title>
    </ng-template>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="productForm" (ngSubmit)="save()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img
            src="../../../assets/images/products.png"
            style="width: 100%; height: 30%"
          />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input type="text" label="ID" formControlName="id"> </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input
            type="text"
            label="Name"
            labelPlacement="floating"
            fill="outline"
            formControlName="name"
          >
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input
            type="text"
            label="Name"
            labelPlacement="floating"
            fill="outline"
            formControlName="name"
          >
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input
            type="text"
            label="Name"
            labelPlacement="floating"
            fill="outline"
            formControlName="name"
          >
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input
            type="text"
            label="Name"
            labelPlacement="floating"
            fill="outline"
            formControlName="name"
          >
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input
            type="text"
            label="Name"
            labelPlacement="floating"
            fill="outline"
            formControlName="name"
          >
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-end">
          <ion-button
            type="submit"
            [disabled]="!productForm.valid"
            color="primary"
          >
            sauver
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-button
      size="large"
      slot="icon-only"
      color="dark"
      slot="end"
      type="button"
      fill="clear"
      (click)="delete(item)"
      *ngIf="!isAdd"
    >
      <ion-icon name="trash-bin"> </ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
